p{
    color: green;
    text-align: right;
}

h1{
    color: black;
}


h2{
    color: red;
}

h3{
    color: blue;
}

h4{
    color: green;
}

h5{
    color: violet;
}

h6{
    color: brown;
}

#titolo{
    color: blue;
}

h2,h3,h4{
    text-align: center;
    color: white;
}

a.bianco:link{
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;

}

a.bianco:hover{
    color:blue;
}